[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2 = "*"
gunicorn = "*"
python-dotenv = "*"
pytz = "*"
flask-wtf = "*"
wtforms = {extras = ["email"],version = "*"}
pytest = "*"

[requires]
python_version = "3.8"
