[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
gunicorn = "*"
python-dotenv = "*"
pytz = "*"
pytest = "*"
alembic = "*"
click = "*"
itsdangerous = "*"
python-dateutil = "*"
python-editor = "*"
six = "*"
Flask-WTF = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = {extras = ["email"],version = "*"}
flask-cli = "*"

[requires]
python_version = "3.9"
